{# welcome.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}

    <h1>Agregar dueño</h1>

<form action="/add-owner" method="post">

    <label for="name">Nombre:</label>
    <input type="text" id="name" name="name" required>
    <label for="lastName">Apellido:</label>
    <input type="text" id="lastName" name="lastName" required>
    <label for="rut">RUT :</label required>
    <input type="text" id="rut" name="rut" pattern="\d{7,8}-[0-9Kk]" required title="Ingrese un RUT válido (Ej. 18708323-0)"><br>

    <input type="submit" value="Agregar">
</form>
{% endblock %}
