{% extends 'base.html.twig' %}

{% block body %}
    
    <div> 
        <h1>Welcome, {{ app.user.username }}!</h1>
        <a class="closeSession" href="{{ path('logout') }}">Cerrar sesión</a>
    </div>

    <div id="sidebar">
        <button class="sidebar-button" onclick="showComponnet('addPet')">Agregar mascota</button>
        <button class="sidebar-button" onclick="showComponnet('search')">Buscar mascota</button>
        <button class="sidebar-button" onclick="showComponnet('list')">Lista de mascotas</button>
        
        <div id="componente-container">
        <!-- Aquí se incluye el componente de búsqueda -->
            <div id="addPet" style="display: none;">
                <!-- Contenido del componente de búsqueda -->
                <h2>Componente de agregacion</h2>
                {% include 'addPet.html.twig' %}
                <!-- Agrega aquí el código HTML y Twig necesario para el componente de búsqueda -->
            </div>
            <!-- Aquí se incluye el componente de búsqueda -->
            <div id="search" style="display: none;">
                <!-- Contenido del componente de búsqueda -->
                <h2>Componente de búsqueda</h2>
                {% include 'search.html.twig' %}
                <!-- Agrega aquí el código HTML y Twig necesario para el componente de búsqueda -->
            </div>
            
            <!-- Aquí se incluye el componente de lista de mascotas -->
            <div id="list" style="display: none;">
                <!-- Contenido del componente de lista de mascotas -->
                <h2>Componente de lista de mascotas</h2>
                {% include 'list.html.twig' with {'pets': pets} %}
                <!-- Agrega aquí el código HTML y Twig necesario para el componente de lista de mascotas -->
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        function showComponnet(component) {
            var componenteContainer = document.getElementById('componente-container');
            var componenteSeleccionado = document.getElementById(component);

            // Ocultar todos los componentes
            var componentes = componenteContainer.children;
            for (var i = 0; i < componentes.length; i++) {
                componentes[i].style.display = 'none';
            }

            // Mostrar el componente seleccionado
            componenteSeleccionado.style.display = 'block';
        }
    </script>
{% endblock %}

{% block stylesheets %}
    <style>
        .sidebar {
            width: 200px;
            background-color: #f2f2f2;
            padding: 10px;
        }

        .sidebar-button {
            display: block;
            margin-bottom: 5px;
            text-decoration: none;
            color: #333;
        }

        .sidebar-button:hover {
            background-color: #ccc;
        }
    </style>
{% endblock %}
