{# login.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    
    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Login FurFur</h3></div>
                                    <div class="card-body">
                                        <form action="{{ path('authenticate') }}" method="POST">
                                            <div class="form-group">
                                                <label for="_username">Username:</label>
                                                <input type="text" id="_username" name="_username" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="_password">Password:</label>
                                                <input type="password" id="_password" name="_password" class="form-control" required>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Login</button>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small"><a href="{{ path('signup') }}" class="btn btn-link">Need an acount ?Sign Up</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </body>
{% endblock %}
